/* footer  */

footer {
  background: rgb(45, 212, 101);
  margin-top: 1em;
  position: absolute;
  bottom: 0;
  width: 99%;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 1.3em;
}

footer span {
  font-size: 1.5em;
}
